/* colors */
.priorize_container, 
.priorize_container .pergunta_feedback .priorize_loading {
	background-color: #242652;	 
}

.priorize_container li.pergunta-opcao span:after,
.priorize_container li.pergunta-opcao span,
.priorize_container li.pergunta-opcao p {
	background-color: #f8941f;	
	-webkit-box-shadow: 1px 4px 11px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 4px 11px -2px rgba(0,0,0,0.75);
	box-shadow: 1px 4px 11px -2px rgba(0,0,0,0.75);
}

.priorize_container .priorize_enviar_nova_opcao,
.priorize_container .pergunta_controls a,
.priorize_container li.pergunta-opcao a.priorize_vote {
	background-color: #ff6607;
	-webkit-box-shadow: 1px 4px 11px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 4px 11px -2px rgba(0,0,0,0.75);
	box-shadow: 1px 4px 11px -2px rgba(0,0,0,0.75);
}

.priorize_container a:hover {
	color: #fff;
	cursor: pointer;
}

.priorize_container .pergunta_controls a:hover,
.priorize_container li.pergunta-opcao a.priorize_vote:hover {
	color: #000;
	cursor: pointer;
	background-color: #feec1c;
}

/* Priorize */
.priorize_container {
	padding: 25px 5%; 
	color: #fff;
	position: relative;
	margin-bottom: 50px;
	padding-bottom: 60px;
	margin-top: 40px;
	min-height: 430px;
}

.priorize_container a {
	color: #fff;
}

.priorize_container h2 {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	padding: 0px 30px;
	margin-bottom: 25px;
}

.priorize_container .pergunta-opcoes {
	clear: both;
	min-height: 180px;
}

.priorize_container .message_active .pergunta-opcoes {
	opacity: 0;

}

/* Feedback */
.priorize_container .pergunta_feedback .priorize_loading {
	display: none;
	width: 100%;
	height: 80%;
	position: absolute;
	top: -10px;
	text-align: center;
	padding-top: 10%;
	background-image: url( "../img/loader2.gif");
	background-repeat:  no-repeat;
	background-position: center center;
}

.priorize_container .pergunta_feedback .priorize_erro,
.priorize_container .pergunta_feedback .priorize_sucesso {
	display: none;
	position: absolute;
	top: 50px;
	width: 100%;
	background: green;
	text-align: center;
	padding: 20px 0px;	
}

.priorize_container .pergunta_feedback {
	background-color: #242652;
}

.priorize_container .pergunta_feedback .priorize_erro {
	background: maroon;
}

.priorize_container .pergunta_container {
	position: relative;
	height: auto;
}

/* Pergunta opções */

.priorize_container ul.pergunta-opcoes {
	margin-top: 10px;
}

.priorize_container ul.pergunta-opcoes:before {
	position: absolute;
	top: -10px;
	border: 2px solid #feec1c;
	width: 0px;
	height: 180px;
	content: "";
	left: 50%;
	margin-left: -2px;
}

.priorize_container ul.pergunta-opcoes:after {
	position: absolute;
	top: 5px;
	border-radius: 100px;
	background-color: #feec1c;
	color: #fe6e08;
	text-transform: uppercase;
	height: 33px;
	width: 35px;
	line-height: 1.8;
	text-align: center;
	font-weight: bold;
	content: "OU";
	left: 50%;
	margin-left: -18px;
}

.priorize_container li.pergunta-opcao {
	position: relative;
	width: 44.5%;
	float: left;
}

.priorize_container li.pergunta-opcao:last-child {
	float: right;
}

.priorize_container li.pergunta-opcao span {
	border-bottom: 1px solid #fff;
	text-transform: uppercase;
	text-align: center;
	width: 100%;
	display: block;
	padding-top: 4px;
	padding-bottom: 4px;
}

.priorize_container li.pergunta-opcao span:after {
	content: "";
	width: 2px;
	height: 5px;
	position: absolute;
	right: -2px;
	top: 18px;
}

.priorize_container li.pergunta-opcao:last-child span:after {
	left: -2px;
}

.priorize_container li.pergunta-opcao p {
	font-size: 15px;
	padding: 20px;
	line-height: 1.4; 
	display: table-cell;
	vertical-align: middle;
	height: 100px;
	text-align: center;
	width: 500px;
}

.priorize_container li.pergunta-opcao a.priorize_vote {
	text-align: center;
	width: 100%;
	padding: 15px 0px;
	display: block;
	text-transform: uppercase;
	border-radius: 5px;
	margin-top: 3px;
}

/* Pergunta controls */

.priorize_container .pergunta_controls {
	width: 100%;
	padding-top: 30px;
	display: block;
	clear: both;
	text-transform: uppercase;
	text-align: center;
}

.priorize_container .pergunta_controls a {
	font-weight: 100;
	padding: 5px 3%;
	line-height: 2.2;
	border-radius: 5px;
	font-size: 15px;
}

.priorize_container .pergunta_controls a:last-child {
	margin-right: 0px;
}

/* Button voltar */

.priorize_container .priorize_voltar,
.priorize_container .priorize_enviar_nova_opcao {
	float: right;
	padding: 5px 10px;
	margin-left: 10px;
}

.priorize_container .priorize_voltar {
	background-color: #818181
}

/* Nova opcao */

.priorize_container .nova_opcao_container input[type=text] {
	width: 100%;
	border: 2px solid white; 
	font-size: 18px;
    padding: 15px;
    margin: 10px 0 10px 0;
}

/* Respostas */

.priorize_container table {
	width: 100%;
	margin-bottom: 20px;
	text-align: left;
}

.priorize_container table th, .priorize_container table td {
	padding: 8px;
	line-height: 20px;
	text-align: left;
	vertical-align: middle;
	border-top: 1px solid #ddd;
}

.priorize_container table tbody>tr:nth-child(odd)>td,
.priorize_container table tbody>tr:nth-child(odd)>th {
	background-color: #36385C;
}

.priorize_regras {
	margin-top: 50px;
}


.priorize_container .limit-chars-counter {
	text-align: right;
	font-size: 12px;
	margin-top: -10px;
	margin-bottom: 10px;
}

/* Cronometro */
.cronometro  {
	position: absolute;
	bottom: 20px;
	left: 0px;
	width: 100%;
  	text-align: center;
  	margin-top: 30px;
  	font-size: 15px;
}

@media (min-width: 1300px) { 

	.priorize_container .pergunta_controls a {
		margin-right: 6.1%;
  		font-size: 17px;
	}
}

@media (max-width: 1299px) {
	.priorize_container .pergunta_controls a {
		margin-right: 2%;
		padding: 5px 10px;
	}

}

@media (max-width: 930px) { 
	.priorize_container {
		min-height: 580px;
	}

	.priorize_container li.pergunta-opcao p {
		height: 150px;
	}

	.priorize_container .pergunta_controls {
		text-align: center;
	}
	.priorize_container .pergunta_controls a:last-child,
	.priorize_container .pergunta_controls a {
		margin: 0px 10%;
		margin-bottom: 8px;	
		display: block;
		text-align: center;
	}
}
